{% extends 'base.html' %}
{% block content %}
 <div class="bd">
    <div class="title">
      <h1>공지사항</h1>
    </div>
       <hr/>
      <div class="sec">
          <div class="bx">
              {% if content_list %}
              {% for content in content_list %}
              <div class="wrap">

                <div class="content">
                  <h3><a href="/mysite/{{ content.id }}">{{ content.title }}</a> </h3>
                  <h4>{{ content.content | truncatewords:30 }}</h4>
                  <h5>{{ content.pub_date }}</h5>
                  <button class="bt" ><a href="{% url 'detail' content.id %}">자세히 보기</a></button>
                </div>
              </div>
            {% endfor %}
            {% else %}
             <p>content가 없습니다.</p>
            {% endif %}
          </div>
      </div>
  </div>
{% endblock %}

