

 {% extends 'base.html' %}
 {% block content %}


  <div class="bd">
    <div class="title">
      <h1>게시판</h1>
      <h2>통합 게시판</h2>
    </div>
       <hr/>
      <div class="sec">
          <div class="bx">
              {% if content_list %}
              {% for content in content_list %}
              <div class="wrap">
                <img src="{{ content.imgfile.url }}" alt="">
                <div class="content">
                  <h3><a href="/misite/{{ content.id }}">{{ content.title }}</a> </h3>
                  <h4>{{ content.content | truncatewords:30 }}</h4>
                  <h5>{{ content.pub_date }}</h5>
                  <button class="bt" ><a href="{% url 'detail' content.id %}">미술품 자세히 보기</a></button>
                </div>
              </div>
            {% endfor %}
            {% else %}
             <p>content가 없습니다.</p>
            {% endif %}
          </div>
      </div>
  </div>
 {% endblock %}

